<%- include('./includes/header.ejs') %>
    
    <%- include('./includes/navigation.ejs') %>

    <main>
        <% if (messages.length > 0) { %>

            <h2>Messages</h2>

            <table>
                <tr>
                    <th>Message</th>
                    <th>Phone</th>
                    <th>Date</th>
                </tr>
                <% for (let m of messages) { %>

                    <tr>
                        <td><%= m.message %></td>
                        <td><%= m.phone %></td>
                        <td><%= m.createdAt %></td>
                    </tr>

                <% } %>
            </table>
        <% } else { %>
            <h2>No Messages Found!</h2>
        <% } %>

    </main>
<%- include('./includes/footer.ejs') %>
